.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
webpack.config.js
**/**.ts
*.vsix
.prettierrc
.editorconfig
.github/**
test/**
**/*.test.js
**/*.test.ts
coverage/**
.nyc_output/**
notepad.md
todo.dotodos
punchcard-work-time-statistics.code-workspace
copy-to-release.js
test